.wrapper{
    color: white;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register{
    width: 90%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 26)
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav-register{
    width: 45%;
    height: 80%;
}
.image{
    width: 45%;
    height: 80%;
    img{
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }
}
.label{
    width: 100%;
    height: 20%;
    label{
        width: 20%;
    }
    input{
        background-color:  rgb(50, 50, 51);
        margin-left: auto;
        border-radius: 30px;
        height: 30px;
        width: 70%;
        color: aliceblue;
        text-align: center;
        &:hover{
            background-color: rgb(61, 60, 60);
        }
    }
}
.errors{
    color: yellow;
    margin-top: auto;
    text-align: center;
}
.submit{
    text-align: center;
}
::placeholder{
    color: rgb(148, 148, 148)
}
.message{
    position: fixed;
    top: 0px;
    z-index: 999;
    height: 100px;
}
@media only screen and (max-width:768px) {
    .image{
        display: none;
    }
    .label{
        label{
            width: 30%;
        }
    }
    .nav-register{
        width: 70%;
    }
}